@font-face {
    font-family: Abel;
    src: url('../font/Abel/Abel-Regular.ttf');
}
@font-face {
    font-family: Anton;
    src: url('../font/Anton/Anton-Regular.ttf');
}
@font-face {
    font-family: lexend;
    src: url('../font/Lexend_Deca/LexendDeca-Regular.ttf');
}