@import url('../CSS/font.css');

html,body{
    margin:0%;
    box-sizing:border-box ;
    overflow-x: hidden;

}

:root{
    --text-gray:#3f4954;
    --text-light:#686666da;
    --midnight:#104f55;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --sky: linear-gradient(to top, #c2cbfb 0%, #a6c1ee 100%);

    --lexend:'Lexend',cursive;
    --Anton:'Anton',cursive;
    --Abel:'Abel',cursive;
}


a{
    text-decoration:none ;
    color: var(--text-gray);
}
p{
    font-family: var(--lexend);
    color: var(--text-gray);
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* color: #3f4954; */
}

ul{
    list-style-type:none ;
}
.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-size:1.1rem;
}

h1{
    font-family: var(--lexend);
    font-size: 2.5rem;

}
h2{
    font-family: var(--lexend);
}
h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}
button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
   
    font-family:var(--lexend) ;
    cursor: pointer;

}
.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}
.nav .nav-items{
    display: flex;
    margin:0 ;
}

.nav{
    background-color: white;
    padding:0 2rem ;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: 1s;
}
.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position:absolute;
    top: 0%;
    width:80%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}



.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);

}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family:var(--lexend);
    font-size: 1.6rem;
}
.collapse{
    height: 30rem;
}

.nav .social i{
    padding: 0.2rem;
    margin-bottom: 1rem;
}

.nav .social i:hover{
    color: #b3a1cf;
}
.nav .social{
    padding: 1.4rem 0;
}



/* body------- of --------css------ starts----------- here */

.category1{
    float: left;
    width: 1000px;
    border: 3px solid red;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    /* display: flex; */
}
.tag{
    margin: 0 20px;
}
.category1 .post{
    border: 2px solid brown;
    display: flex;  
}
.category1 .post .title{
    margin: 10px 10px;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
}
.category1 .post .title h2{
    margin: 0px 0px;
  
}
.category1 .post .discription p{
    margin: 10px 0;

}
.category1 .post .image{
    padding: 10px;
    /* width: 100%; */
}


/* side------post */

/* .category{
    border: 2px solid red;
    justify-content: space-between;
} */
.side-bar{
    float: right;
    width:300px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.side-post{
    border: 2px solid black;
    display: flex;  
    

}
.image-side img{
   width: 150px;
   padding: 10px;
}
.side-title{
    margin: 8px 0px;
}
.side-title h4{
    margin: 0;
}
