@import url('../CSS/font.css');

.containers{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0fr 1.8fr 0.5fr 0.1fr 0.2fr;
    grid-template-areas: 
    "nav nav"
    "main side-post"
    "forms forms"
    "rating rating"
    "cmt cmt"
    ;
    box-sizing: border-box;
    
    
}
.rating{
    grid-area: rating;
    box-sizing: border-box;
    margin-left: 5%;
    padding: 10px 30px;

}
.rating, span{
    display: inline-block;
}
.rate-form span h3{
    font-size: 1.5rem;
}


:root{
    --text-gray:#3f4954;
    --text-light:#686666da;
    --midnight:#104f55;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --sky: linear-gradient(to top, #c2cbfb 0%, #a6c1ee 100%);

    --lexend:'Lexend',cursive;
    --Anton:'Anton',cursive;
    --Abel:'Abel',cursive;
}

nav{
    grid-area: nav;
    transition: 0.6s;
    z-index: 100000;
    box-sizing: border-box;
   
}
nav.sticky{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color:rgb(255, 255, 255);
}
html,body{
    margin:0%;
    box-sizing:border-box ;
    overflow-x: hidden;

}

:root{
    --text-gray:#3f4954;
    --text-light:#686666da;
    --midnight:#104f55;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --sky: linear-gradient(to top, #c2cbfb 0%, #a6c1ee 100%);

    --lexend:'Lexend',cursive;
    --Anton:'Anton',cursive;
    --Abel:'Abel',cursive;
}


a{
    text-decoration:none ;
    color: var(--text-gray);
}
p{
    font-family: var(--lexend);
    color: var(--text-gray);
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type:none ;
}
.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-size:1.1rem;
}

h1{
    font-family: var(--lexend);
    font-size: 2.5rem;

}
h2{
    font-family: var(--lexend);
}
h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}
button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
   
    font-family:var(--lexend) ;
    cursor: pointer;

}
.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}
.nav .nav-items{
    display: flex;
    margin:0 ;
}

.nav{
    background-color: white;
    padding:0 2rem ;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: 1s;
}
.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position:absolute;
    top: 0%;
    width:80%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}



.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);

}
.nav .nav-brand a{
    font-size: 1.6rem;
    display: block;
    font-family:var(--lexend);
    font-size: 1.6rem;
}
.collapse{
    height: 30rem;
}

.nav .social i{
    padding: 0.2rem;
    margin-bottom: 1rem;
}

.nav .social i:hover{
    color: #b3a1cf;
}
.nav .social{
    padding: 1.4rem 0;
}



main{
    grid-area: main;
}

main .post-content .image img{
    width: 100%;
    height: 70vh;
    display: block;
   
}
main .post-content .image{
    padding: 0px 50px;
    margin-bottom: 0;
}

main .post-content .title{
    padding: 0px 50px;
    
}
main .post-content .title h2{ 
    margin: 8px 0;
}
main .post-content .content{
    margin: 10px 0;
}
main .post-content .content .author{
    padding: 0px 50px;
    font-size: 1.1rem;
}
main .post-content .publish{
    padding: 0px 50px;
    font-size: 1.1rem;
}
main .post-content .category a{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 50;
    border: 2px solid rgb(8, 164, 255);
    background-color: var(--text-gray);
    border-radius: 3rem;
    color: white;
    padding: 4px 8px;
}
main .post-content .category{
    padding: 0px 50px;
    margin-top: 0;
}


main .post-content .category a:hover{
    background-color: rgb(110, 255, 142);
    color: black;
}
main .post-content .description{
    padding: 0px 50px;
}
main .post-content .description p{
    margin-top: 20px 0;
    font-size: 1.1rem;
}

main .post-content .image img{
    /* width: 100%; */
    align-items: center;
}
main .post-content hr{
    background-color: #00bcd4;
    margin-left: 50px;
    width: 90%;
}
.forms{
    grid-area: forms;
    color: var(--bg-color);
    border: box;
    box-sizing: border-box;
    box-shadow: #0fe215a1;
  
}
/* .comment-section{
    box-sizing: border-box;
    box-shadow: 5px 10px #888888;
    border: 2px solid red;
} */

.comment-inside{
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    width: 69%;
    padding: 20px;
    margin-left: 3rem;
    background: #fff;
    /* border: 3px solid red; */
    

}
 .comment-inside h2{
    font-size: 30px;
    color: #333;
    font-weight: 500px;
}
.comment-inside .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.comment-inside .inputBox input,
.comment-inside .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin:10px 0;    
    border:none;
    border-bottom: 2px solid rgb(150, 150, 150);
    outline: none;
    resize: none;
}


.comment-inside .inputBox input[type="submit"] {
    width:100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    
} 

.cmt {
    grid-area: cmt;
    color: var(--bg-color);
    padding-left: 3%;
    padding-top: 2%;

}
.cmt .show {
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(19, 7, 7, 0.3);
    width: 40%;
    margin: 1.5rem;
    padding: 10px;
}
.cmt .show .Nametime
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cmt .show .user{
    border-radius: 50%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background: #85878a;
}
.cmt .show .name{
    font-family: var(--lexend);
    color:rgb(8 164 255 / 91%);
    display: flex;
    align-items: baseline;
}
/* .cmt .show .time{
    margin-left: 17rem;

} */
.cmt .show .com{
    padding-right: 7px;
    padding-top: 9px;
}
.side-post {
    grid-area: side-post;
    box-sizing: border-box;

}
.side-post li{
    display: flex;
    line-height: 1.6;
    margin: 10px 2px;
    
    

}
.side-post ul{
    padding: 0;
    list-style: none;

    

}
.side-post li:first-child{
    /* margin: 0; */
    padding: 0;
    border: 0;
    
}
.side-post img{
    width: 16vh;
    height: 10vh;
    border-radius: 5px;
    display: block;
}
.side-post .recent-post-thumbnail{
    margin-right: 5%;
    /* width: 30%; */
    /* position: relative; */
    /* min-width: 100px;  */
}

.side-post .recent-post-info{
    display: block;
    margin-top: 6pxpx;
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: .2px;
}
.side-post .recent-post-comment,
.side-post .recent-post-date{
    display: inline-block;
}
/*        start          Footer         start         */
footer.footer{
    height:100%;
    background: var(--bg-color);
    position: relative;
}
footer.footer .container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .newsletter .form-btn{
    background: black;
    display:inline-block;
    position: relative;
}
footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent ;
    color: white;
    font-family:var(--Abel);
    font-size: 1rem;
    width: 74%;

}
footer.footer .container h2{
    color:var(--white);
}
footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor:pointer;
}
footer.footer .instagram div > img{
    display: inline-block;
    width:25%;
    height: 50%;
    margin: .3rem .4rem;

}
footer.footer .follow div i{
    color: var(--white);
    padding: 0.4rem;
}
footer.footer .rights{
    justify-content: center;
    font-family: var(--lexend);
}
footer.footer .move-up{
    position: absolute;
    right: 6%;
    top:50%;

}

footer.footer .move-up span{
    color: var(--midnight);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}


/*        End            Footer         End            */
@media only screen and (max-width:990px){
    .containers{
        grid-template-columns: 2fr;
        grid-template-rows: 0fr 0.9fr 0.6fr 0.1fr 0fr;
        grid-template-areas: 
        "nav nav"
        "main main"
        "side-post side-post"
        "forms forms"
        "rating rating"
        "cmt cmt";
    }
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;   
        
    }
    .nav .toggle-collapse{
        display:initial;
    }

   

    .side-post img{
        width: 16vh;
        height: 10vh;
        flex-wrap: wrap;
        /* height: auto; */
        border-radius: 5px;
        display: block;
    }

    .side-post li{
        align-items: center;
    
    }
    footer.footer .container{
        grid-template-columns: repeat(1,1fr) !important
    }
}

@media only screen and (max-width:540px){
    .containers{
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0.9fr 0.1fr 0.0fr 0.0fr 0.0fr;
        grid-template-areas: 
        "nav"
        "main"
        "side-post"
        "forms"
        "rating"
        "cmt";
    }
    .side-post img{
        width: 16vh;
        height: 10vh;
        flex-wrap: wrap;
        /* height: auto; */
        border-radius: 5px;
        display: block;
    }
    .side-post li{
        align-items: center;
    
    }
}