{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'CSS/explore1.css' %}">
<link rel="stylesheet" href="{% static 'CSS/all.css' %}">
<link rel="stylesheet" href="{% static 'CSS/aos.css' %}">
<link rel="stylesheet" href="{% static 'CSS/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'CSS/owl.theme.default.min.css' %}">
{% endblock head %}

{% block body %}
<div class="cards">
    <div class="cards1">
    {% for i in city%}
    
    <div class="card" data-aos="flip-up" data-aos-delay="200">
        <div class="example"><img src="{{i.image_pl.url}}" alt="" class="card_image">
            <a href="{{i.country}}/{{i.city}}">
            <div class="content">
            <div class="text">
                <h2>{{i.city}}</h2>
            </div>
            </div>
            </a>
        </div>
        <div class="card_info">
            <div>
                <i class="material-icons">thumb_up</i>
                <div class="like">
                    360
                </div>
            </div>
            
            <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
             </div>
            
            </div>
    </div>
    {% endfor %}
   
    
</div>
</div>
{% endblock body %}